bin
obj
.antlr
node_modules
dist
MagellanicPenguin/vscode/server/*
MagellanicPenguin/vscode/*.vsix
MagellanicPenguin/vscode/out/*
report.txt
*.log
Documentation/BasicIntroductionSlide/BasicIntroduction
.aider*
.trae
*.lscache
*_output/
tmp
*.o
