{
  "projects": [
    { "dir": "EmperorPenguin", "project": "EmperorPenguin/EmperorPenguinPass1.penguins" },
    { "dir": "MagellanicPenguin/LspServer",
      "project": "MagellanicPenguin/LspServer/LspServer.penguins",
      "args": ["--enable-coroutine"],
      "libs": ["build/libemperorpenguin.penguin-lib"] }
  ]
}
